---
layout: default
navtab: meetings
title: Meetings
calendar: true
---

<h1>Meetings</h1>

<p>The <b>Biomedical Informatics Entrepreneurs Salon</b> meets monthly in Boston to
promote entrepreneurship at the convergence of biology, medicine, and
computing.
</p>
<p>The group is open to everyone.</p>


<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Next Meeting</h3></div>
  <div class="panel-body">

  <div class="row" style="margin-bottom: .5em">
    <div class="col-xs-2"><b>Date</b>:</div>
    <div class="col-xs-10"> Wednesday, January 25, 2017 4:30pm-6:30pm</div>
  </div>

  <div class="row" style="margin-bottom: .5em">
    <div class="col-xs-2"><b>Speakers</b>:</div>
    <div class="col-xs-10"><b>Will Crawford, MBA</b>, VP Engineering &amp; Head of Boston Office, Fitbit</div>
  </div>

  <div class="row" style="margin-bottom: .5em">
    <div class="col-xs-2"><b>Location</b>:</div>
    <div class="col-xs-10">
      Waterhouse Room, Gordon Hall<br/>Harvard Medical School<br/>
      <span class="fa fa-map-marker" style="margin-right:.4em;"></span>
      <a href="https://www.google.com/maps/place/Gordon+Hall,+25+Shattuck+St,+Boston,+MA+02115">25 Shattuck St.</a> Boston, MA 02115<br/><br/>
      Nearest T stop: Brigham Circle (Green Line "E")
      </p></div>
    </div>

  <div class="row">
     <div class="col-xs-2"><b>RSVP</b>:</div>
     <div class="col-xs-10"> Tickets are free, but limited.<br/>
       <a class="btn btn-primary sign-up" href="https://www.eventbrite.com/e/biomedical-informatics-entrepreneurs-salon-12517-tickets-29260092725">Register to attend</a></div>
  </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Get notified about upcoming events</h3>
  </div>
  <div class="panel-body">
    <p>Add yourself to our <a href="http://eepurl.com/crqhIj" target="_blank">mailing list</a> to get occasional notices of upcoming events.</p>
  </div>
</div>

<h3>Upcoming Events</h3>
<p>Stay tuned for more news about our Spring 2017 series!</p>

<p><a href="https://www.eventbrite.com/e/biomedical-informatics-entrepreneurs-salon-tickets-31355233347">March 29, 2017</a></p>

<p><a href="https://www.eventbrite.com/e/biomedical-informatics-entrepreneurs-salon-tickets-31355680685">April 26, 2017</a></p>

<p style="height: 2em"></p>

<h3>Past Events</h3>

{% assign past_events = site.data.past_events | sort: 'date' | reverse %}
{% for event in past_events  %}
<p><div class="event col-xs-10">
<div>
{% if event.links %}
<a href="{{ event.links[0]}} ">{{ event.date }}</a>:
{% else if %}
{{ event.date }}:
{% endif %}

</div>
{% for speaker in event.speakers %}
  <li><b>{{ speaker.name }}</b>, {{ speaker.desc }}</li>
  {% endfor %}
</div></p>
{% endfor %}

<p style="height: 3em"></p>

