---
layout: default
navtab: resources
title: Resources
file_root: 'https://github.com/bioinformaticssalon/bioinformaticssalon.github.io'
---


<h1>Resources</h1>

<h3>Other local groups</h3>
<p>These Boston-area groups sponsor events and activities of interest to entrepreneurs
in biomedical informatics</p>
    {% assign sorted_groups = (site.data.groups | sort: 'name') %}
    {% for group in sorted_groups  %}
    <li class="tag"><a href="{{group.url}}">{{ group.name }}</a></li>
    {% endfor %}
    <li class="data-source">Please update <a href="{{ page.file_root}}/blob/master/_data/groups.yml">this file</a>

<h3>Genomics data repositories</h3>
<p>These public datasets contain petabytes of genomic data</p>
    {% assign sorted_repos = (site.data.data_repos | sort: 'name') %}
    {% for repo in sorted_repos  %}
    <li class="tag"><a href="{{repo.url}}">{{ repo.name }}</a></li>
    {% endfor %}
    <li class="data-source">Please update <a href="{{ page.file_root}}/blob/master/_data/data_repos.yml">this file</a>

<h3>Please send us suggestions and updates!</h3>
All the code and information on this site is kept
on <a href="https://github.com/bioinformaticssalon/bioinformaticssalon.github.io">Github</a>.


Please send us your suggestions and changes with
a <a href="https://help.github.com/articles/using-pull-requests/">pull
request</a>, or email them
to <a href="mailto:bies-admin@hms.harvard.edu">us</a>.
