@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.dna {
  font-family: 'Cutive Mono', monospace;
}

.dna .A{
  color: #A00;
}
.dna .G{
  color: #0A0;
}
.dna .C{
  color: #00A;
}
.dna .T{
  color: #880;
}

.otd-logo {
  padding: 6px;
  width: 310px;
  height: 80px;
}

.hovershade:hover {
  background-color: #EEE;
}

li.resource-tag {
  list-style: none;
  margin-bottom: 4px;
}

li.resource-tag:before {
    content: "•  ";
    color: #AAA;
}

li.data-source {
  margin-top: 7px;
  list-style-type: none;
  text-indent: 1em;
  font-style: italic;
}

footer {
 margin-top: 2em;
}
