.navbar.bies-nav {
  margin-bottom: 0px;
}

footer {
 margin-top: 2em;
}

/* --------------------------------------------------------
   header: DNA banner (random ATGC letters)
 */
/* monospace typewriter font */
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.dna {
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 3em;
}

.dna .A{
  color: #A00;
}
.dna .G{
  color: #0A0;
}
.dna .C{
  color: #00A;
}
.dna .T{
  color: #880;
}

/* sponsor logos */
.otd-logo {
  padding: 6px;
  width: 310px;
  height: 80px;
}

.hovershade:hover {
  background-color: #EEE;
}

/* resources page */
li.resource-tag {
  list-style: none;
  margin-bottom: 4px;
}

li.resource-tag:before {
    content: "•  ";
    color: #AAA;
}

li.data-source {
  margin-top: 7px;
  list-style-type: none;
  text-indent: 1em;
  font-style: italic;
}

span.tag {
 padding: 2px 4px;
 font-size: 70%;
 border-radius: 3px;
 border: 1px solid #e8e8e8;
 background-color: #eef;
}

/* signup form on meetings page */

.signup .frame2, .signup .frame3 {
  display: none
}

.signup .frame3 button.ok {
  margin-top: 2em;
}

/* calendar events on meetings page */

.event {
 width: 300px;
 margin-top: 5px;
 margin-right: 5px;
 padding: 2px 4px;
 font-size: 120%;
 border-radius: 3px;
 border: 1px solid #e8e8e8;
 background-color: #eef;
}  
