.navbar.bies-nav {
  margin-bottom: 0px;
}

footer {
 margin-top: 2em;
}

/* --------------------------------------------------------
   header: DNA banner (random ATGC letters)
 */
/* monospace typewriter font */
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.dna {
  font-family: 'Cutive Mono', monospace;
  margin-bottom: 3em;
}

.dna .A{
  color: #A00;
}
.dna .G{
  color: #0A0;
}
.dna .C{
  color: #00A;
}
.dna .T{
  color: #880;
}

/* sponsor logos */
.otd-logo {
  padding: 6px;
  width: 310px;
  height: 80px;
}

.hovershade:hover {
  background-color: #EEE;
}

/* resources page */
li.resource-tag {
  list-style: none;
  margin-bottom: 4px;
}

li.resource-tag:before {
    content: "•  ";
    color: #AAA;
}

li.data-source {
  margin-top: 1.2em;
  list-style-type: none;
  font-style: italic;
}

span.tag {
 padding: 2px 4px;
 font-size: 70%;
 border-radius: 3px;
 border: 1px solid #e8e8e8;
 background-color: #eef;
}

/* signup form on meetings page */

.signup .frame2, .signup .frame3 {
  display: none
}

.signup .frame3 button.ok {
  margin-top: 2em;
}

/* calendar events on meetings page */

.event {
   width: 300px;
   margin-top: 5px;
   margin-right: 5px;
   padding: 2px 4px;
   font-size: 120%;
   border-radius: 3px;
   border: 1px solid #e8e8e8;
   background-color: #eef;
   .time {
     font-size: 70%;
     margin-left: 1em;
   }
}  
.event.selected { background-color: darken(#eef, 7%);}

/* calendar box */

.calendar_box {
  display: inline-block;
  margin-top: 2px;
  margin-right: 1em;
  border:1px solid #555;
  width: 2em;

  .upper {
      background-color:#555;
      text-transform:uppercase;
      color:#fff!important;
      font-weight:bold;
      text-align:center;
      font-size:9px;
      line-height:14px;
      height:14px;
      padding:0 4px;
  }

  .lower {
      background-color:#fff;
      font-size:16px;
      line-height:18px;
      height:18px;
      font-weight:bold;
      text-align:center;
      padding:1px 4px 0 4px;
   }
}

.details{
    display: none;
    position: absolute;
    border: 1px solid #73a7f0;
    width: 400px;
    margin-left: 20px;
    padding: 5px 14px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .7);
    -webkit-box-shadow: -0px 0px 6px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .7);
    .title { font-size: 130%; font-weight: bold}
    hr { margin-top: 3px; margin-bottom: 3px; border-top: solid 1px #AAA;}
}
.details:before{
    content: ' ';
    display: block;
    position: absolute;
    left: -8px;
    top: 15px;
    width: 14px;
    height: 14px;
    border-color: #73a7f0;
    border-width: 1px;
    border-style: none none solid solid;
    background-color: #fff;
    box-shadow: -2px 2px 3.5px rgba(0, 0, 0, .5);
    -webkit-box-shadow: -2px 2px 3.5px rgba(0, 0, 0, .5);
    -moz-box-shadow: -2px 2px 3.5px rgba(0, 0, 0, .5);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}



/* footer */
.bies.site-footer {
  border-top: none;
}
